html
    head
        //load bootstrap
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
        title Photo Login
    body
        ul.nav.nav-tabs
            li.active
                a(href="/") Home
                  
        //default container is div, so you can use '.'  
        .container
            h1 Photo Website
            .well Login to upload your photos.